body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f1ea;
  text-align: center;
  color: #333;
}

header {
  background-color: #6b4226;
  color: white;
  padding: 20px;
  display: flex;
}

main {
  margin: 40px;
}

main img {
  width: 320px;
  border-radius: 12px;
  display: flex;
}

p {
    background-color: rgb(243, 207, 160);
  font-size: 18px;
  margin-top: 20px;
}